<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.rtl.min.css" rel="stylesheet"
      integrity="sha384-WJUUqfoMmnfkBLne5uxXj+na/c7sesSJ32gI7GfCk4zO4GthUKhSEGyvQ839BC51" crossorigin="anonymous">
  
    <title>BloodBankNearYou</title>
    <!-- change the background color of the navbar -->
    <!-- <style>
      .navbar {
        background-color: #7a95af;
      }
    </style> -->
    <style>
      body {
        background-color: rgba(191, 191, 200, 0.341);
      }
      body {
        background-image: url(./static/back1.jpg);
      /* background: linear-gradient(to bottom right, #e9dbdb, #828286); */
      }
    </style>
      </style>
  </head>
  
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container">
  
        <body>
          <img src="{{ url_for('static', filename='logo.jpg') }}" alt="Logo" width="70px" height="70px">
        </body>
        <a class="navbar-brand" href="#">BloodBankNearYou</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="http://127.0.0.1:5000/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="http://127.0.0.1:5000/Blood%20Availability%20Search">Blood Availability Search</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="http://127.0.0.1:5000/Blood%20Donation%20Camp">Blood Donation Camp</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Login/Signup
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="http://127.0.0.1:5000/User%20Login">User Login</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="http://127.0.0.1:5000/User%20Signup">User Signup</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link active">User Help</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Optional JavaScript; choose one of the two! -->
  
  
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"></script>
  
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
      -->
  
      <div class="container col-md-6">
        <div class="input-group my-3">
            <label class="input-group-text" for="inputGroupSelect01">Select State</label>
            <select class="form-select" id="inputGroupSelect01">
              <option selected>Choose...</option>
              <option value="Andhra Pradesh">Andhra Pradesh</option>
                  <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                  <option value="Assam">Assam</option>
                  <option value="Bihar">Bihar</option>
                  <option value="Chhattisgarh">Chhattisgarh</option>
                  <option value="Goa">Goa</option>
                  <option value="Gujarat">Gujarat</option>
                  <option value="Haryana">Haryana</option>
                  <option value="Himachal Pradesh">Himachal Pradesh</option>
                  <option value="Jharkhand">Jharkhand</option>
                  <option value="Karnataka">Karnataka</option>
                  <option value="Kerala">Kerala</option>
                  <option value="Madhya Pradesh">Madhya Pradesh</option>
                  <option value="Maharashtra">Maharashtra</option>
                  <option value="Manipur">Manipur</option>
                  <option value="Meghalaya">Meghalaya</option>
                  <option value="Mizoram">Mizoram</option>
                  <option value="Nagaland">Nagaland</option>
                  <option value="Odisha">Odisha</option>
                  <option value="Punjab">Punjab</option>
                  <option value="Rajasthan">Rajasthan</option>
                  <option value="Sikkim">Sikkim</option>
                  <option value="Tamil Nadu">Tamil Nadu</option>
                  <option value="Telangana">Telangana</option>
                  <option value="Tripura">Tripura</option>
                  <option value="Uttar Pradesh">Uttar Pradesh</option>
                  <option value="Uttarakhand">Uttarakhand</option>
                  <option value="West Bengal">West Bengal</option>
            </select>
          </div>
          
          <!-- </div> -->
          
          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect02">City</label>
            
            <input type="City" class="form-control" id="exampleInputDistrict">
            <!-- <select class="form-control" id="inputGroupSelect02">
              <option selected>Choose...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select> -->
          </div>
          
          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect02">Select Blood Group</label>
            <select class="form-select" id="inputGroupSelect02">
              <option selected>Choose...</option>
              <option value="1">A+</option>
              <option value="2">A-</option>
              <option value="3">B+</option>
              <option value="4">B-</option>
              <option value="5">O+</option>
              <option value="6">O-</option>
              <option value="7">AB+</option>
              <option value="8">AB-</option>
            </select>
          </div>
          
          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect02">Select Blood Component</label>
            <select class="form-select" id="inputGroupSelect02">
              <option selected>Choose...</option>
              <option value="1">Whole Blood</option>
              <option value="2">Single Donor Platlet</option>
              <option value="3">Single Donor Plasma</option>
              <option value="4">RBCs</option>
              <option value="5">WBCs</option>
            </select>
          </div>
          <div class="row">
            <div class="col-md-12 mb-3" align="left">
            
            <button type="button" id="searchButton" class="btn btn-outline-success">Search</button>
          </div>
      </div>
      <div class="container my-3">
        <h4><center>Blood Data</center></h4>
        <table class="table my-3">
            <thead>
              <tr>
                <th scope="col">Blood Bank/Hospital</th>
                <th scope="col">Availability</th>
                <th scope="col">Quantity Available</th>
                <th scope="col">Last Updated</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Blood Bank 1</td>
                <td>Yes</td>
                <td>3L</td>
                <td>10-02-2023</td>
              </tr>
              <tr>
                <td>Blood bank 2</td>
                <td>No</td>
                <td>NA</td>
                <td>24-01-2023</td>
              </tr>
              <tr>
                <td>Blood bank 3</td>
                <td>Yes</td>
                <td>2L</td>
                <td>21-02-2023</td>
              </tr>
            </tbody>
          </table>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>